body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgDiv, .productdiv{
  height: 200px;
  padding: 5px !important;
  border: solid 1px #f7f6f2;
  width:100%;
  
}
.imgDiv{text-align: center;}
.imgDiv img{
  max-width: 100%;
  max-height: 100%;
  width:auto;
  height:auto;
}
.cardImage{
  max-height: 180px;
}
/* .card{
  box-shadow: 0px 0px 16px #00000029; 
} */
h2.card-title{
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  color: #616161;
  height:3em;
}
.card-product-rating{
  color:#111;
  font-size: 12px;
}
.card-product-rating svg{
  color:#fed700;
  margin-top: -4px;
  margin-left: 4px;
}
.flexwrapper{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
padding:30px;
}
.flexitems{
width:230px;
margin:10px 0 10px 0;
transition: transform .2s;
}
.flexitems:hover{
  transform: scale(1.1);
}
.card-text{
  margin-top:5%;
}
.card-text .price{
  font-size: 20px;
  color: #343f49;
  margin-bottom: 0;
  font-weight: 500;
}
.card-text span{
  font-size: 8px;
}
.card-text .inclusive{
  font-size: 11px;
  font-weight: 500;
  margin-bottom:10px;
}
.addtocart{
  background-color: #E73841 !important;
  border:none !important;

}
/* .addtocart:hover {
  background-color: white;
  color: #E73841;
} */
.addtocart svg{
  margin:0 5px 5px 0;
}
.cartButton{
  background-color: transparent;
  border:0;
  color:white;
}
.carttotalprice{
  font-size: 18px;
  font-weight: 500;
  color: #e73841;
}


input:focus {outline:none;border:none;}
@media screen and (max-width: 600px) {
  .flexitems {
    width: 100%;
}
}
.parentDiv{
  position: relative;
}
.deleteBtn{
  position: absolute;
    top: 5px;
    color: #545454;
    background: white;
    right: 0px;
    z-index: 100;
    border: none;
}